body {
    font-family: $main-font;
    background-color: $default-body-color;
    font-size: $default-font-size;
}

@include grid();

.test {
    height: 150px;
    background-color: red;

    @include media(md) {
        background-color: green;
    }

    @include media(sm) {
        background-color: yellow;
    }
}

.mobile-only {
    @include media-m(sm) {
        display: none !important;
    }
}

.desktop-only {
    @include media(sm) {
        display: none !important;
    }
}
