// colors
$orang-color: #f76707;
$white-color: #fff;
$gray-3-color: #dee2e6;
$gray-6-color: #868e96;
$grey-7-color: #495057;
$gray-8-color: #343a40;
$grey-light: lightgray;
$green-color: green;
$periwinkle-gray: #BCD0E5;

$border-btn-color-primary: $orang-color;
$border-btn-color-secondary: $periwinkle-gray;
$border-height: 50px;
$btn-font-weight: 600;

$border-color: $grey-light;
$default-border: 1px solid $grey-light;

$default-body-color: $white-color;

// fonts
$default-font-name: 'Roboto';
$fallback: Arial, Helvetica, sans-serif;
$default-font-size: 18px;

$main-font: $default-font-name, $fallback;
$font-path: './fonts/';

// containers
$container-padding: 15px;
$container-max-width: 1200px;

$gap: 15px;
$default-count-col: 12;

$default-width: 1200px;

$breack-points: (
    "lg": 1200px,
    "md": 992px,
    "sm": 768px,
    "xs": 576px,
    "xxs": 480px
);
